body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #120b2e;
    background-image: radial-gradient(circle at top, #3b1d73, #120b2e 70%);
    font-family: Arial, sans-serif;
}

.register-container{
    width: 850px;
    min-height: 650px;
    padding: 30px;
    border: 8px solid #3a2a1d;
    border-radius: 15px;
    background-color: rgba(20, 15, 45, 0.92);
    box-shadow: 0px 0px 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: #e0b36d;
    font-size: 45px;
    margin-bottom: 25px;
    border: 4px solid #5a4128;
    padding: 15px 40px;
    background-color: #2a223b;
    border-radius: 10px;
    letter-spacing: 3px;
}

.register-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

input,
select{
    width: 380px;
    height: 55px;
    padding-left: 15px;
    font-size: 18px;
    border: 4px solid #5a4128;
    border-radius: 10px;
    background-color: #38435a;
    color: white;
    box-sizing: border-box;
}

select{
    cursor: pointer;
}

input::placeholder{
    color: #d6d6d6;
}

button{
    width: 390px;
    height: 70px;
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #e6c07b;
    background-color: #38435a;
    border: 5px solid #5a4128;
    border-radius: 12px;
    cursor: pointer;
}

button:hover{
    background-color: #4a5670;
}

a{
    text-decoration: none;
}

.back-button{
    width: 250px;
    height: 65px;
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #e6c07b;
    background-color: #38435a;
    border: 5px solid #5a4128;
    border-radius: 12px;
    cursor: pointer;
}

.back-button:hover{
    background-color: #4a5670;
}